body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #000;
    box-sizing: border-box;
}